# MkDocs and Material for MkDocs
mkdocs>=1.5.3
mkdocs-material>=9.5.0

# Plugins
mkdocs-minify-plugin>=0.8.0
mkdocs-git-revision-date-localized-plugin>=1.2.0

# Markdown extensions
pymdown-extensions>=10.7.0
